:root {
    --cor-body: #78c9f2;
    --cor-fundo: #F0F0F0;
    --cor-fundo-container: #FFFFFF;
    --cor-link-ativo: #00A335;
    --cor-link-hover: #80e8a3;
    --cor-borda-input: #EBF0FA;
    --cor-texto-principal: #2C2C2C;
    --cor-texto-secundario: #B4B6C1;
    --cor-texto-input: #B4B6C1;
}