.CardProduct-Wrapper {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    border: 1px solid brown;
    background-color: burlywood;
    padding: 10px;
    margin-top:10px;
    margin-bottom: 10px;

   
}

.CardImage-Wrapper {
    width: 549px;
    height: 288px ;
}

.img-custom {
    width: 400px;
    height: 300px;
}

.CardContent-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;


}

.CardImage-Wrapper {
    position: relative;
}

.CardImage-Wrapper span {
    position: absolute;
    padding: 14px 32px;
    top: 50px;
    right: 80px;
    background-color: yellow;
}

.Row-Wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

.List-Wrapper ul {
    display: flex;
    flex-direction: column;
}

.List-Wrapper ul li {
    color: red;
}