.Footer-wrapper {
    display: flex;
    flex-direction: row;
    background-color: brown;
    height: 200px;
}

.Empresa-wrapper {
    
    color: burlywood;
    justify-content: space-between;
    
}

.Contato-wrapper {
    color: burlywood;
    justify-content: space-between;
}

.Informacoes-wrapper {
    color: burlywood;
    justify-content: space-between;
}