@import '../styles/variaveis.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.s-container {
    background-color: var(--cor-fundo-container);
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 500px;
    height: 500px;
    
}

input {
    width: 420px;
    height: 30px;
    flex-direction: column;
    border-radius: 5px;
    border-color: var(--cor-borda-input);
    color: var(--cor-texto-input);
    border-style:solid;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

/* .s-flex {
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.s-flex input {
    width: calc(320px * 0.50)
} */

h1 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: var(--cor-texto-principal);
    margin-top: 10px;
    margin-bottom: 10px;
}

.t2 {
    display: flex;
    justify-content: center;
    padding:5px;
    color: var(--cor-texto-secundario);
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnEntrar {
    background-color: var(--cor-link-ativo);
    color: white;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 260px;
    height: 35px;
    margin-top: 10px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.btnEntrar:hover {
    display: block;
    background-color: var(--cor-link-hover);
}

.ref {
    display: flex;
    color: var(--cor-link-ativo);
    font-weight: bold;
    margin-left: 10px;
}