body {
    margin: 0;
    padding: 0;
}

#menu {
    background-color: #f2f2f2;
    top: 0;
    position: sticky;
    z-index: 100;
    background-color: black;
    color: #cfcfcf;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 280px;
    justify-content: space-between;
    color: #cfcfcf;
}

#content {
    height: 1500px;
}

#s1 {
    height: 100vh;
    background-color: #cfcfcf;
}

#s2 {
    height: 40vh;
    background-color: black;
}